@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
    background: #B9A88B;
    font-family: 'Inter', sans-serif;
}

#main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#my_canvas {
    border: 3px solid white;
    background-color: #72751B;
    border-radius: 20px;
}

@keyframes slideDown {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 20%;
        opacity: 0.4;
    }
}

#pauseNotif {
    position: fixed;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    background-color: #B9A88B;
    color: white;
    padding: 50px;
    border: 1px solid white;
    animation: slideDown 0.5s ease-out;
}

#sidebar {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
}

#logo {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

#timerDisplay {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 250px;

}

#timerDisplay>div {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #B9A88B;
    font-weight: bold;
    width: 80px
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttons>button,
#startButton {
    width: 50%;
    border: 1px solid white;
    height: 50px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.buttons>button:nth-child(2):hover {
    background-color: #B9A88B;
}

.buttons>button:nth-child(1):hover {
    background-color: #B9A88B;
}

#startButton:hover {
    background-color: #B9A88B;
}

#stopButton:disabled {
    background-color: #b8b1a5;
    cursor: not-allowed;
}

.buttons>button:nth-child(1) {
    border-radius: 20px 0 0 0;
    background-color: #4e473a;
}

.buttons>button:nth-child(2) {
    border-radius: 0 20px 0 0;
    background-color: #5e5648;
}

#startButton {
    border-radius: 0 0 20px 20px;
    width: 100%;
    background-color: #5e5648;
}